In [11]:
%load_ext autoreload
%autoreload 2

import sys

# https://github.com/fzinfz/flask-DLT645
sys.path.append("/data_nfs/flask-DLT645/lib")

from read import *

from conf import *
# from conf_prod import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [12]:
devices = Meters(meter_list_str)
df_meters = devices.df
df_meters

               Tag
Addr
010128318569    up
000080853040  down

In [13]:
result = devices.read_meters(chn, level=2, verbose=0)

Serial<id=0x7f4cc8556160, open=True>(port='/dev/ttyUSB0', baudrate=2400, bytesize=8, parity='E', stopbits=1, timeout=0, xonxoff=False, rtscts=False, dsrdtr=False)

 ===== ['010128318569', 'up'] =====
{'功率-瞬时总有功': ('109.20', 'W'), '电能-组合有功总-当前': (6.92, 'kWh')}

 ===== ['000080853040', 'down'] =====
{'功率-瞬时总有功': ('49.60', 'W'), '电能-组合有功总-当前': (3285.88, 'kWh')}

In [4]:
import copy
result_list = copy.deepcopy(result)

for k,v in result_list.items():
    v['Addr'] = k, ''

for m in result_list.values():
    for k in m.keys():
        m[k] = m[k][0]

df = pd.DataFrame(result_list.values()).set_index('Addr')
df = df_meters[['Tag']].merge(df, on='Addr')
df

              Tag  功率-瞬时总有功  电能-组合有功总-当前
Addr
000081497010   五楼     67.50      5933.55
000102866265  四五楼  3,541.10     20900.69
000000004103  201     18.60      2810.25
000012871763  202      1.70     10208.49
000001031195  203      0.00      1292.91
000087578340  205      5.20       107.50
000012068388  401      0.20      2318.08
000000023557  402  3,462.00       871.47
000002005433  405      0.00      1058.11