In [1]:
import pandas as pd

# tuples to df / apply() / groupby()

In [2]:
data = [
    ('A', 1, 4),
    ('B', 1, 5),
    ('C', 2, 6),    
]
df = pd.DataFrame(data, columns=['job', 'rc', 'n'])
df

  job  rc  n
0   A   1  4
1   B   1  5
2   C   2  6

In [3]:
df["n2"] = df.apply(lambda x: x["n"] + 1, axis = 1)
df

  job  rc  n  n2
0   A   1  4   5
1   B   1  5   6
2   C   2  6   7

In [4]:
df2 = df[['job','rc']].groupby(['rc']).count()
df2

    job
rc
1     2
2     1

# to_excel()

In [5]:
writer = pd.ExcelWriter(r'test.xlsx', engine='xlsxwriter')

df2.to_excel(writer, sheet_name='Sheet1')
df2_rows = len(df2)

df.to_excel(writer, sheet_name='Sheet1', freeze_panes=(df2_rows+3, 1),startrow=df2_rows+2) 

writer.save()

# json to df

In [6]:
j=[
{"userid":"u1","tags":[{"type":1,"tag_id":"t1a" }],},
{"userid":"u2","tags":[{"type":1,"tag_id":"t1b" },{"type":2,"tag_id":"t2a"}],}
]

In [7]:
df = pd.json_normalize(j,'tags',['userid'])
df

   type tag_id userid
0     1    t1a     u1
1     1    t1b     u2
2     2    t2a     u2

In [8]:
df.drop('type', axis=1).to_dict('records')

[{'tag_id': 't1a', 'userid': 'u1'},
 {'tag_id': 't1b', 'userid': 'u2'},
 {'tag_id': 't2a', 'userid': 'u2'}]