In [1]:
gen_str = lambda start, count: ''.join([ str(i) for i in range(start, start + count) ])
s = gen_str(0, 10)
s

'0123456789'

In [2]:
s[:3] + s[3:]

'0123456789'

In [3]:
s[::-1]

'9876543210'

In [4]:
def remove_nth_char(s, n):
    print(s[n])
    return s[:n] + s[n+1:]

remove_nth_char(s, 3)

3

'012456789'

In [5]:
remove_nth_char = lambda s, n: s[:n] + s[n+1:]
remove_nth_char(s, 3)

'012456789'

In [6]:
lines = [ gen_str(i, 6) for i in range(5) ]
lines

['012345', '123456', '234567', '345678', '456789']

In [7]:
# remove 2nd char in every line
list(map(remove_nth_char, lines, [2] * len(lines)))

['01345', '12456', '23567', '34678', '45789']